body {
    background: #eee;
    font-size: 12px;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    display: block;
}
input {
    display: block;
    margin: 10px;
}
div {
    display: inline-table;
    margin: 10px;
}

table {
    width:100%;
    border:1px solid #000000;
    border-collapse: collapse;
}

table th, td {
    border:1px solid #000000;
}

label {
  display: list-item;
}

input[type="checkbox"] {
  display: initial;
}

